:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --header-logo-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-button-color: #ffffff;
  --second-button-color: #212121;
  --background-button-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--second-title-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------------------------------ХЕДЕР----------------------------------- */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}

.link .accent {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.current .link {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.list-item > .header-contact {
  color: var(--accent-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

/* чомусь не ховерить силки в мейні портфоліо....
.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}
*/

/* якщо лого не треба ховерити то зміню на це >>

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
*/

/*
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
*/

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
/*
.header-item + .header-item {
  margin-left: 50px;
}
*/
/* ---------------------------------------МЕЙН----------------------------------- */

.hero {
  text-align: center;

  padding: 200px 0px;

  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;

  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;

  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  color: var(--main-button-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.team-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: #f5f4fa;
}

.list .name {
  font-weight: 500;
  font-size: 16px;
  color: var(--second-title-color);
}

/* -------------------------------------Портфоліо початок----------------------*/

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  display: inline-block;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
}

.first.btn {
  color: var(--main-button-color);
  background-color: var(--accent-color);
}

.second.btn {
  color: var(--second-button-color);
  background-color: var(--background-button-color);
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
}

.about-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.about-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about-title:hover,
.about-title:focus {
  color: var(--accent-color);
}

.about-after-title:hover,
.about-after-title:focus {
  color: var(--accent-color);
}
/* -------------------------------------Портфоліо закінчення----------------------*/

/* ---------------------------------------ФУТЕР----------------------------------- */

.footer {
  padding: 60px 0px;

  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: inline-block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

.footer-info .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--footer-contact-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-info .address {
  color: var(--third-text-color);
}

/* якщо лого не треба буде ховерити то зміню */

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
